*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contenedor {
    background-color: rgb(52, 47, 47);
    width: 300px;
    height: 460px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 19px 3px;
    border: 3px dashed rgb(54, 51, 51);
    padding: 10px;
}
.display{
    background-color: rgb(216, 237, 121);
    height: 35px;
    padding-top: 15px;
    border: 2px solid rgb(187, 203, 112);
    text-align: right;
}


.boton{
    background-color: #fff;
    width: 60px;
    height: 45px;
    padding-top: 10px;
}

.primera_fila, .segunda_fila, .tercera_fila, .cuarta_fila{
    display: flex;
    text-align: center;
    
}
.primera_fila .boton, .segunda_fila .boton, .tercera_fila .boton, .cuarta_fila .boton{
    margin-top: 15px;
    padding-top: 20px;
    margin-right: 20px;
    transition: all 0.2s;
}
#mas, #menos, #multiplicar, #dividir{
    margin-right: 0;
}

#igual{
    width: 140px;
}
#copy1{
    color: rgb(110, 110, 110);
    margin-top: 5px;
    font-size: 10px;
    width: 40px;
}
#copy2{
    color: rgb(110, 110, 110);
    margin-top: 5px;
    font-size: 10px;
    margin-left: 85%;
    width: 40px;
}


#c{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(174, 76, 76);
    border: 3px solid rgb(129, 58, 58);
    transition: all 0.2s;
}

.primera_fila .boton:hover, .segunda_fila .boton:hover, .tercera_fila .boton:hover, .cuarta_fila .boton:hover{
    background-color: rgb(158, 158, 158);
}

#c:hover{
    background-color: rgb(129, 58, 58);
}